* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  height: 66px;
}
header #logo {
  height: 100%;
}
header img {
  height: 25px;
}
header #nav-items {
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
  margin-right: 40px;
}
header #nav-items a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}
header #nav-items a:hover:not(#cart) {
  color: #ee6130;
}
header #nav-items #cuenta-carrito {
  position: absolute;
  right: -10px;
  top: 5px;
  background-color: #ee6130;
  border-radius: 100%;
  display: inline-block;
  width: 20px;
  line-height: 20px;
  aspect-ratio: 1;
  text-align: center;
}
header #nav-items .dropdown {
  position: relative;
  display: inline-block;
}
header #nav-items .dropdown .dropbtn {
  padding: 14px 16px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}
header #nav-items .dropdown .dropbtn a {
  font-size: 1.2rem;
}
header #nav-items .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header #nav-items .dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  text-align: center;
}
header #nav-items .dropdown .dropdown-content a:hover {
  background-color: #f1f1f1;
}
header #nav-items .dropdown:hover .dropdown-content {
  display: block;
}

main {
  max-width: 144rem;
  padding: 0 2rem;
  margin-top: 50px;
}
main section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
main section .tarjeta-producto {
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  text-align: center;
  background-color: lightgrey;
  transition: all 0.3s ease-in-out;
}
main section .tarjeta-producto h3 {
  font-size: 1rem;
  max-width: 300px;
  min-height: 50px;
  margin-top: 0.5rem;
}
main section .tarjeta-producto:hover {
  transform: translate(0, -20px);
}
main section .tarjeta-producto button {
  background-color: #ee6130;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
main section .tarjeta-producto button:hover {
  background-color: black;
}
main section .tarjeta-producto img {
  padding: 10px;
  width: 300px;
  height: 300px;
}

/*------------------------CARRITO.HTML----------------------------------*/
#carrito-container {
  display: flex;
  flex-direction: column;
}
#carrito-container .carrito-producto {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1000px;
  gap: 20px;
  text-align: center;
}
#carrito-container .carrito-producto img {
  height: 150px;
  aspect-ratio: 1.5;
}
#carrito-container .carrito-producto strong {
  width: 100%;
}
#carrito-container .carrito-producto div {
  width: 100%;
}

button {
  background-color: #ee6130;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  background-color: black;
}

#totales {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 2px;
}
#totales #carrito-botones {
  display: flex;
  gap: 20px;
}
#totales #carrito-botones button {
  background-color: #ee6130;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
#totales #carrito-botones button:hover {
  background-color: black;
}

body {
  height: 100vh;
}

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f8f9fa; /* El color de fondo que desees */
  border-top: 1px solid #dee2e6; /* Opcional: agregar un borde superior */
  padding: 10px; /* Espaciado interno opcional */
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=styles.css.map */
