*{
    margin: 0;
    padding: 0;
}

$color-acento: #ee6130;
$color-acento-claro: #ee613033;
$color-texto: black;

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    #logo{
        height: 50px;
    }
    img{
        height: 25px;
    }
    #nav-items{
        display: flex;
        align-items: center;
        gap: 30px;
        position: relative;
        margin-right: 40px;
        a{
            text-decoration: none;
            color: $color-texto;
            &:hover:not(#cart){
                color: $color-acento;
            }
        }
        #cuenta-carrito{
            position: absolute;
            right: -10px;
            top: 5px;
            background-color: $color-acento;
            border-radius: 100%;
            display: inline-block;
            width: 20px;
            line-height: 20px;
            aspect-ratio: 1;
            text-align: center;
        }
    }
}

main{
    margin-top: 50px;
    margin-bottom: 50px;
    section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
        .tarjeta-producto{
            border-radius: 10px;
            padding: 20px;
            max-width: 400px;
            text-align: center;
            background-color: lightgrey;
            transition: all 0.3s ease-in-out;
            &:hover{
                transform: translate(0, -20px);
            }
            button{
                background-color: $color-acento;
                border: none;
                border-radius: 5px;
                padding: 10px 20px;
                color: white;
                font-weight: bold;
                cursor: pointer;
                transition: all 0.3s ease;
                &:hover{
                    background-color: $color-texto;
                }
            }
        }
        img{
            width: 100%;
        }

    }
}


/*------------------------CARRITO.HTML----------------------------------*/


#carrito-container{
    display: flex;
    flex-direction: column;
    .carrito-producto{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 1000px;
        gap: 20px;
        text-align: center;
        img{
            height: 150px;
            aspect-ratio: 1.5;
        }
        strong{
            width: 100%;
        }
        div{
            width: 100%;
        }
    }
}

button{
    background-color: $color-acento;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover{
        background-color: $color-texto;
    }
}

#totales{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 2px;
    #carrito-botones{
        display: flex;
        gap: 20px;
        button{
            background-color: $color-acento;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            color: white;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover{
                background-color: $color-texto;
            }
        }
    }
}

body{
    height: 100vh;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa; /* El color de fondo que desees */
    border-top: 1px solid #dee2e6; /* Opcional: agregar un borde superior */
    padding: 10px; /* Espaciado interno opcional */
  }

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
}