*{
    margin: 0;
    padding: 0;
}

$color-acento: #ee6130;
$color-acento-claro: #ee613033;
$color-texto: black;

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    height: 66px;
    #logo {
      height: 100%;
    }
  
    img {
      height: 25px;
    }
  
    #nav-items {
      display: flex;
      align-items: center;
      gap: 30px;
      position: relative;
      margin-right: 40px;
  
      a {
        text-decoration: none;
        color: $color-texto;
        font-size: 1.2rem;
  
        &:hover:not(#cart) {
          color: $color-acento;
        }
      }
  
      #cuenta-carrito {
        position: absolute;
        right: -10px;
        top: 5px;
        background-color: $color-acento;
        border-radius: 100%;
        display: inline-block;
        width: 20px;
        line-height: 20px;
        aspect-ratio: 1;
        text-align: center;
      }
  
      .dropdown {
        position: relative;
        display: inline-block;
  
        .dropbtn {
          padding: 14px 16px;
          border: none;
          background-color: inherit;
          cursor: pointer;
          a{
            font-size: 1.2rem;
          }
        }
  
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
  
          a {
            color: black;
            padding: 12px 16px;
            display: block;
            text-decoration: none;
            text-align: center;
  
            &:hover {
              background-color: #f1f1f1;
            }
          }
        }
  
        &:hover .dropdown-content {
          display: block;
        }
      }
    }
  }
  


main {
    max-width: 144rem;
    padding: 0 2rem;
    margin-top: 50px;
    section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 30px;
  
      .tarjeta-producto {
        border-radius: 10px;
        padding: 20px;
        max-width: 500px; // Puedes ajustar según sea necesario
        text-align: center;
        background-color: lightgrey;
        transition: all 0.3s ease-in-out;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
        h3 {
            font-size: 1rem; // Ajusta los valores según tus preferencias
            max-width: 300px;
            min-height: 50px;
            margin-top: 0.5rem; // Añade un margen superior opcional para separar el título de la imagen
        }
        &:hover {
          transform: translate(0, -20px);
          cursor: pointer;
        }
  
        button {
          background-color: $color-acento;
          border: none;
          border-radius: 5px;
          padding: 10px 20px;
          color: white;
          font-weight: bold;
          cursor: pointer;
          transition: all 0.3s ease;
  
          &:hover {
            background-color: $color-texto;
          }
        }
  
        img {
            padding: 10px;
            width: 300px;
            height: 300px;
        }
      }
    }
  }
  

.pro-details{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 20px;
  .single-pro-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding-top: 30px;
    h1{
      max-width: 500px;
      text-align: center;
    }
    h4{
      padding: 20px 0 20px 0;
    }
    h2{
      font-size: 26px;
    }
    p {
      max-width: 500px;
    }
  }
}

.single-pro-image{
  margin-top: 30px;
  width: 40%;
  height: 80vh;
  border-radius: 10px;
  padding: 20px;
  background-color: lightgrey;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  img{
    height: 100%;
    width: 100%;
  }
  
}



/*------------------------CARRITO.HTML----------------------------------*/


#carrito-container{
    display: flex;
    flex-direction: column;
    .carrito-producto{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 1000px;
        gap: 20px;
        text-align: center;
        img{
            height: 150px;
            aspect-ratio: 1.5;
        }
        strong{
            width: 100%;
        }
        div{
            width: 100%;
        }
    }
}

button{
    background-color: $color-acento;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover{
        background-color: $color-texto;
    }
}

#totales{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 2px;
    #carrito-botones{
        display: flex;
        gap: 20px;
        button{
            background-color: $color-acento;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            color: white;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover{
                background-color: $color-texto;
            }
        }
    }
}

body{
    height: 100vh;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa; /* El color de fondo que desees */
    border-top: 1px solid #dee2e6; /* Opcional: agregar un borde superior */
    padding: 10px; /* Espaciado interno opcional */
  }

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
}